@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Welcome to Section C</h1>

    <p>This is part 1/2 of Section C. You need to complete part (a) and (b) for this part.</p>
</div>
